- is_admin = defined?(admin) ? true : false
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        SSH Key
      %ul.well-list
        %li
          %span.light Title:
          %strong= @key.title
        %li
          %span.light Created on:
          %strong= @key.created_at.to_s(:medium)

  .col-md-8
    %p
      %span.light Fingerprint:
      %code.key-fingerprint= @key.fingerprint
    %pre.well-pre
      = @key.key
  .col-md-12
    .pull-right
      - unless @key.is_a? LDAPKey
        = link_to 'Remove', path_to_key(@key, is_admin), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove delete-key"
